@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

button, a, .tech-card {
    transition: all ease-in-out .3s;
}

a {
    cursor: pointer;
}

body {
    scroll-behavior: smooth;
}

.hamburguer {

    animation: scaleUp 0.5 ease-in-out;
}

.tech-card:hover > p {
    animation: scaleUp 0.2s ease-in-out;
    display: flex;
}

.btn-rounded {
    @apply bg-primary hover:bg-violet-500 p-6 rounded-xl text-white font-bold;
}

.type-write-effect {
    width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 7s steps(20) infinite,
        blinking 0.3s infinite step-end alternate;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid #ebefff;
    border-bottom: 50px solid transparent;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.arrow {
    animation: arrowIndicate 2s infinite ease-in-out;
}


@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 20ch;
    }
    75% {
        width: 20ch;
    }
    100% {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

@keyframes arrowIndicate {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    50% {
        opacity: 1;
        transform: translateY(20px);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes scaleUp {
    from {
        transform: translateY(-20px);
        opacity: 0.4;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
